
{% extends "base.html" %}
{% block title %} reset password {% endblock %}

{% block content %}

<h1 class="container lead my-4">reset password...</h1>
<div class="container">
    <div class="row">
        {% if msg %}
            <div>
                {{ msg }}
            </div>
        {% endif %}
    </div>
    <div class="row my-4">

        <form method="POST">

            <div class="mb-3">
                <label>email</label>
                <input
                    type="email"
                    required
                    placeholder="email"
                    name="email"
                    value="{{ email }}"
                    class="form-control"
                />
            </div>

            <button type="submit" class="btn btn-outline-primary btn-sm">
                submit
            </button>

        </form>

    </div>
</div>

{% endblock %}
