{% extends "base.html" %}
{% block title %} update {{ obj.title }} {% endblock%}

{% block content %}

    <div class="container">
        <div class="row my-5">
            <h1 class="display-6 mb-3">update user</h1>
            <form method="POST">
                <div class="mb-3">
                    <input
                        type="text"
                        required
                        placeholder="name"
                        name="name"
                        value="{{ obj.name }}"
                        class="form-control"
                    />
                </div>

                <div class="mb-3">
                    <input
                        type="email"
                        required
                        placeholder="email"
                        name="email"
                        value="{{ obj.email }}"
                        class="form-control"
                    />
                </div>
                <div class="mb-3">
                    <label>password</label>
                    <input
                        type="password"
                        required
                        placeholder="password"
                        value="{{ password }}"
                        name="password"
                        class="form-control"
                    />
                </div>

                <button type="submit" class="btn btn-outline-primary btn-sm">
                    submit
                </button>
            </form>
        </div>
    </div>

{% endblock %}
